*{
    margin: 0;
    padding: 0;
}
.logo-icons{
    display: flex;
    justify-content: space-around;
    background-color: #F6FBF9;
}
.icons img{
    
    height: 20px;
    width: 65px;
    padding: 25px 0;
    cursor: pointer;
}